# python package
*.egg-info
*.egg

# cpython
*.pyc

# HDF5
*.h5

# mat
*.mat

# markdown
*.md

# virtualenv
venv/

# datafile
data/

# sample data
MatlabCodeForExtractPhase/

# pyinstaller
build/
*.pyo

# sample file
sensorbasedAO/sample_ML/
