# Camera error debugging files
sensorbasedAO/error_camera_1.py
sensorbasedAO/error_camera_2.py

# python package
*.egg-info
*.egg

# cpython
*.pyc

# HDF5
*.h5

# markdown
*.md

# virtualenv
venv/

# datafile
data_text/

# pyinstaller
build/
*.pyo
