# python package
*.egg-info
*.egg

# cpython
*.pyc

# HDF5
*.h5

# markdown
*.md

# virtualenv
venv/
venv32/

# pyinstaller
build/
*.pyos

# tiff
*.tif
*.tiff

# network model
ML_datasets/
ML_results/



