numpy
Pillow
nifpga==19.0.0
PySide2==5.15.0
qimage2ndarray
tifffile
imageio
pytest
pytest-qt
pyyaml
Click
scipy==1.5.4
h5py==2.9.0
scikit-image
Cython
rpyc
tensorflow-gpu==2.5.0
joblib
sklearn
pandas
